.add-button {
  width: 20%;
  height: 40px;
  margin: 7px auto 10px 70%;
}
.notes-container {
  display: flex;
  flex-direction: column;
  background-color: #a8dadc;
  margin-right: 10%;
  margin-bottom: 10%;
}

.note-box {
  background-color: #457b9d;
}
.noteslist {
  flex: 1;
}
