.folderForm {
  width: 80%;
  background-color: #457b9d;
  border: solid 2px black;
  margin: 10px auto 10px auto;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-folder-item {
  text-align: center;
}
.hidden {
  display: none;
}

.add-folder-item > button {
  width: 40%;
  height: 20%;
  padding: 8px;
  margin: 8px;
}
