.folder-box {
  border: solid 2px black;
  text-align: center;
  width: 70%;
  background-color: lightblue;
}
.highlighted-folder-box {
  border: solid 2px black;
  text-align: center;
  width: 70%;
  background-color: green;
}
